@media screen and (min-width: 320px) {
    .seccion4 {
        width: 100%;
        height: 100%;
        color: var(--color1);
        margin-top: 13rem;
    }

    .seccion4 h1 {
        font-size: 3rem;
        margin: 0rem 0.5rem;
        font-weight: 600;
    }
}
